:root{
    --startColor: #3a7bd5;
    --endColor: #3a6073;
}

body {
    background: var(--startColor);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--startColor), var(--endColor));
    background: linear-gradient(to right, var(--startColor), var(--endColor)); 
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}

h1 {
    font-size: 4rem;
    letter-spacing: 1rem;
}